/*IMPORT DES TYPOS*/

@import url('https://fonts.googleapis.com/css?family=Merriweather|Source+Sans+Pro:200|Source+Sans+Pro:400|Source+Sans+Pro:600');

@font-face {
    font-family: 'aveny_tbold';
    src: url('https://media.lesechos.fr/infographie/font/avenyt-bold-webfont.woff2') format('woff2'),
         url('https://media.lesechos.fr/infographie/font/avenyt-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'aveny_tmedium';
    src: url('https://media.lesechos.fr/infographie/font/avenyt-medium-webfont.woff2') format('woff2'),
         url('https://media.lesechos.fr/infographie/font/avenyt-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lacrima_serifregular';
    src: url('https://media.lesechos.fr/infographie/font/lacrimaserif-webfont.woff2') format('woff2'),
         url('https://media.lesechos.fr/infographie/font/lacrimaserif-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'merriweatherbold';
    src: url('/font/webfont/webfontmerriweather-bold-webfont.woff2') format('woff2'),
         url('/font/webfont/merriweather-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Merriweather';
    src: url('/font/Black/Merriweather-Black.woff2') format('woff2'),
        url('/font/Black/Merriweather-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('/font/Lora/Lora-Regular.woff2') format('woff2'),
        url('/font/Lora/Lora-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('Lora-Italic.woff2') format('woff2'),
        url('Lora-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}





body {
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	padding: 0;
	background: rgb(3, 5, 22);
	font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
}

article img {
    width: 100%;
    image-orientation: from-image;
    margin-bottom: 3%;
    margin-top: 3%;
}

article video {
    width: 170%;
}

.conteneur {
	margin: 0 auto;
	padding: 0;
	position: relative;
}

.conteneur img {
	display: block;
    margin: 1.5em 0 0;
}

.lightmap{
    display: block;
    position: relative;
    left: -35%;
}

.conteneur video {
    display: block;
    margin: 1.5em 0 0;
}

.imageMedium {
    margin: 1.5em auto 0;
}

.imageFullWindow {
	position: relative;
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-position: center;
}

.banner__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -12;
  }

  .small_video {
    position: relative;
    left: -35%;
  }

  .infog{
    width: 153%;
    position: relative;
    left: -17%;
  }


  #bloc_titre{
    display: block;
    width: 70%;
    max-width: 800px;
    margin: auto;
    padding: 25px;
}

@media screen and (max-width: 2600px) {
    .conteneur {
		width: 50%;
	}

	.conteneur.large {
		width: 60%;
	}

	.imageMedium {
		width: 70%;
	}

}

@media screen and (max-width: 1200px) {
    .conteneur {
		width: 50%;
	}

	.conteneur.large {
		width: 70%;
	}

	.imageMedium {
		width: 80%;
	}
}

@media screen and (max-width: 800px) {
    .conteneur {
		width: 60%;
	}

	.conteneur.large {
		width: 80%;
	}

	.imageMedium {
		width: 80%;
	}
}

@media screen and (max-width: 500px) {

    .infog{
        width: 100%;
        left: 0%;
    }

    .small_video{
        left: -10%;
        width: 115%;
    }
    #bloc_titre {
        width: 88%;
    }

    #chapeau {
        font-size: 0.9em;
    }
    
	.conteneur{
		width: 90%;
	}

	.imageMedium {
		width: 90%;
	}
}



/*LE CACHE DE CHARGEMENT*/

.cache{
    background: rgba(10,10,10,1);
    position: fixed;
    top: 0
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100vh;
}

#wrapper_cache{
    padding-top: 38vh;
}

#phrase_preload{
    font-family: lacrima_serifregular;
    color: snow;
    font-size: 2em;
    text-align: center;
    opacity: 0.9;
}

.logo_preload{
    opacity: 0.7;
    width: 180px;
    display: block;
    margin: auto;
}

.logo_intro{
    opacity: 0.7;
    width: 180px;
    display: block;
    margin: auto;
    margin-top: 25px;
}

.loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid grey; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: auto;
    margin-top: 2%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



/*INTRODUCTION*/


#intro{
    width: 100%;
    height: 100vh;
}

#titraille{
    width: 100%;
    height: 100vh;
    /*position: absolute;
    top: 0;
    left: 0;*/
    /*background: rgba(205,23,23,0.85);*/
    background: black;
    z-index: 999;
	background: black;
    position: relative;
    overflow: hidden;
    display:table;
}

#titraille::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';

    /* Any overlay color that you want, here I use black with 25% opacity */
    background-color: rgba(3, 5, 22, 0.24);;
}

#wrapper_titraille{
    display:table-cell;
    vertical-align:middle;
    position: relative;
}



#wrapper_titraille img{
    display: block;
    margin: auto;
	margin-top: 8px;
    max-width: 150px;
}

h1 {
    font-family: merriweatherbold;
    font-size: 3.2em;
    line-height: 1.4em;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    
}

h2 {
    font-family: aveny_tmedium;
    font-size: 2.5em;
    line-height: 0.95em;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    color: white;
}

#chapeau {
    font-family: Lora;
    color: white;
    text-align: center;
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    margin-top: 25px;
}


#noms_intro {
    color: white;
    font-size: 1.1em;
    max-width: 800px;
    text-align: center;
    margin: auto;
    margin-top: 15px;
    max-width: 50%;
}






#bandeau_echos {
    width: 100%;
    height: 30px;
    position: fixed;
    top: 0;
    z-index: 999;
    display: none;
}

#timer {
    background: rgb(240, 140, 27);
    position: fixed;
    left: 0;
    height: 3px;
    width: 0%;
    z-index: 999999;
    transtion: all 0.3s;
}

#logobandeau {
    max-height: 20px;
    position: absolute;
    left: 10px;
    top: 5px;
}

.logo_social {
    max-height: 18px;
    display: inline-block;
    float: right;
    margin-top: 6px;
    margin-right: 10px;
    cursor: pointer;
}



/*LIENS*/

.paragraphe a, .step a {
    text-decoration: none;
    color: rgb(240, 140, 27);
    font-weight: bold;
    transition: all 0.2s;
    padding-left: 3px;
    padding-right: 3px;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom,
                          transparent,
                          transparent 50%,
                          rgb(240, 140, 27) 50%,
                          rgb(240, 140, 27));
    transition: background-position 0.2s;
}

.paragraphe a:hover{
    color: white;
    background-position: 0% 100%;
    cursor: pointer;
}

.caption {
    color: grey;
    font-size: 1em;
    padding: 0.5em 0 1em 0;
	margin: 0;
}

.captionFullWindow {
    position: absolute;
	color: white;
	font-size: 1em;
    background-color: rgba(1, 1, 1, 0.5);
    top: 1em;
    left: 1em;
	margin: 0;
    padding: 0.5em;
}

.flourish-embed{
    width: 60%;
	margin: 0 auto;
}


/*TEXTES*/

h3 {
	font-family: aveny_tmedium;
    font-size: 2.2em;
    margin-bottom: 10px;
    text-align: center;
}

p.paragraphe{
    color: white;
	text-align: left;
	font-size: 1.2em;
	margin: 0;
	padding: 0;
	margin-top: 25px;
}
p.arrete {
    color: white;
    font-size: 1.4em;
    display: block;
}

p.exergue{
    font-family: merriweatherbold;
    color: white;
    font-size: 1.5em;
    display: block;
    margin-top: 3%;
    margin-bottom: 3%;
}



p.premier_paragraphe{
    margin-top: 100px
}

p.dernier_paragraphe{
	margin-bottom: 100px
}










/*PREVIOUSLY ON LOST*/

#previously{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    height: auto;
    background: rgba(0,0,0,0.85);
    padding-top: 20px;
    padding-bottom: 40px;
}

#wrapper_previously{
    width: 94%;
    margin: auto;
    position: relative;
    height: auto;
    /*background: snow;*/
}

.previously_item{
    width: 30%;
    position: relative;
    margin-right: 5%;
    background: rgba(0,0,0,0.9);
    display: inline-block;
    cursor: pointer;
    transition: all 0.25s;
}

.previously_item:hover{
    opacity: 0.8;
}

.previously_item:nth-child(4){margin-right: 0!important;}

.texte_previously_item{
    font-family: lacrima_serifregular;
    color: rgba(255,255,255,0.75);
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}

.titre_previously_item{
    font-family: aveny_tmedium;
    color: rgba(255,255,255,0.9);
    font-weight: 1.2em;
    line-height: 1em;
    font-size: 2em;
    margin: 0;
    margin-top: 12px;
    font-weight: 400!important;
    text-align: center;
}

#previously_retrouvez{
    margin-top: 15px!important;
    margin-bottom: 30px;
    font-family: lacrima_serifregular;
    color: rgba(255,255,255,0.5);
    font-size: 2em;
    line-height: 1em;
    text-align: center;
}

.image_previously_item{
    max-width: 100%;
}

img.vertical{
    margin-top: 8px!important;
}


@media screen and (max-width: 1000px) {
    #previously{
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 30px;
        height: auto;
        background: rgba(0,0,0,0.85);
        padding-top: 20px;
        padding-bottom: 40px;
    }

    #wrapper_previously{
        width: 94%;
        margin: auto;
        position: relative;
        height: auto;
        /*background: snow;*/
    }

    .previously_item{
        width: 100%;
        position: relative;
        margin-right: 5%;
        background: rgba(0,0,0,0.9);
        display: inline-block;
        cursor: pointer;
        transition: all 0.25s;
        margin-bottom: 5%;
    }

    .previously_item:hover{
        opacity: 0.8;
    }

    .previously_item:nth-child(4){margin-right: 0!important;}

    .texte_previously_item{
        font-family: lacrima_serifregular;
        color: rgba(255,255,255,0.75);
        text-align: center;
        margin-left: 2%;
        margin-right: 2%;
    }

    .titre_previously_item{
        font-family: aveny_tmedium;
        color: rgba(255,255,255,0.9);
        font-weight: 1.2em;
        line-height: 1em;
        margin: 0;
        margin-top: 20px;
        font-weight: 400!important;
        text-align: center;
    }

    #previously_retrouvez{
        margin-top: 15px!important;
        margin-bottom: 30px;
        font-family: lacrima_serifregular;
        color: rgba(255,255,255,0.5);
        font-weight: 2em;
        line-height: 1em;
        text-align: center;
    }

    .image_previously_item{
        max-width: 100%;
    }

}

/*VERSION MOBILE ET ORDI PORTABLE*/

@media screen and (max-width: 1200px) {
    #chapeau{
        font-family: merriweatherbold;
        font-size: 1.2em;
        margin-top: 35px;
        max-width: 70%;
        text-align: center;
        margin: auto;
    }

}

@media screen and (max-width: 900px) {
    h1{
        font-size: 1.5em;
    }
    #chapeau{
        font-size: 1em;
    }   
    
}


