@font-face {
    font-family: 'Merriweather';
    src: url('/font/Black/Merriweather-Black.woff2') format('woff2'),
        url('/font/Black/Merriweather-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

